.footer
  .footer_inner
    %ul.footer_left
      %li &copy; Copyright 2013 Wooden Art World LTD. #{link_to 'Disclaimer', root_path}
    %ul.footer_middle
      %li.footer_middle_left
        = link_to 'Contact Us', root_path
      %li.footer_middle_middle 
        = link_to 'About Us', root_path
      %li.footer_middle_right  
        = link_to 'Sitemap', root_path
    %ul.footer_right
      %li
        = link_to 'Web Design Norwich', 'http://www.cd2solutions.co.uk'